<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>駄洒落判定</title>
    </head>
    <body>
        <div class="container">
            <h1>駄洒落判定</h1>
            <form action="./judge">
                <input type="text" name="sentence" id="sentence" required />
                <input type="submit" value="判定する" id="submit-btn" />
            </form>
        </div>
    </body>
</html>
